{% extends "base.html" %}

{% block title %}
    Movies

{% endblock %}
{% block content %}
    {% if latest_question_list %}
<!--<div class="peliculas">
    <ul>
        {% for movie in latest_question_list %}
        <li><a href="{% url 'movie' movie.id %}">{{ movie.name }}</a></li>
        {% endfor %}
    </ul>
</div>-->

<div class="mt-5">
    <div class="text-center">
        {% for movie in latest_question_list %}
        <img src="{{movie.url}}">
        <p class="h3" ><a href="{% url 'movie' movie.id %}">{{ movie.name }}</a></p>
        {% endfor %}
    </div>
       
</div>

    {% else %}
<p>No movies are available.</p>
    {% endif %}
{% endblock %}