{% extends "base.html" %}

{% block title %}
    Movies

{% endblock %}
{% block content %}
    {% if movies %}

<div class="container">

    <div class="row">
        {% for movie in movies %}
        <div class="col-7 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <a href="{% url 'movie' movie.id %}"><img src="{{ movie.url }}" class="img-fluid" alt="Responsive image"></a>
            <p class="h3" align="center"><a class="nombre" href="{% url 'movie' movie.id %}">{{ movie.name }}</a></p>
        </div>
        {% endfor %}
    </div>
</div>
<!--<div class="peliculas">
    <div class="fila">
        {% for movie in movies %}
            <div class="columna">
                <a href="{% url 'movie' movie.id %}"><img src="{{ movie.url }}"></a>
                <p class="h3"><a href="{% url 'movie' movie.id %}">{{ movie.name }}</a></p>
            </div>
        {% endfor %}
    </div>-->

<nav aria-label="pagination">
    <ul class="pagination">
        <li class="page-item">
            {% if movies.has_previous %}
            <a href="?page=1" class="first page-link" aria-label="First">&larr;</a>
            {% endif %}
        </li>
        <li class="page-item">
            {% if movies.has_previous %}
            <a href="?page={{ movies.previous_page_number }}" class="previous page-link" aria-label="Previous">&laquo;</a>
            {% endif %}
        </li>
        <li class="current page-link" aria-label="Current">
            Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
        </li>
        <li class="page-item">
            {% if movies.has_next %}
            <a href="?page={{ movies.next_page_number }}" class="next page-link" aria-label="Next">&raquo;</a>
            {% endif %}
        </li>
        
        <li class="page-item">
            {% if movies.has_next %}
            <a href="?page={{ movies.paginator.num_pages }}" class="last page-link" aria-label="Last">&rarr;</a>
            {% endif %}
        </li>        
</ul>
</nav>
    {% else %}
<p>No movies are available.</p>
    {% endif %}
{% endblock %}
