.table-responsive .table {
    color: #e2dada;
}
.form-control {
    margin-top: 10px;
}
a:hover, a {
    color: #E2DACD;
}
.container-fluid {
    color: #000000;
}
.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}
.table-responsive::-webkit-scrollbar:horizontal {
    height: 10px;
}
.table-responsive::-webkit-scrollbar-thumb {
    background-color: #7e7e7e;
    border-radius: 20px;
}





