
.login {
    width: 300px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*@media (max-width: 400px){
	.login{
		width: 90%;
	}
}*/

