
.row {
    margin-top: 15%;
    justify-content: center;
}
.pagination {
    justify-content: center;
}

/*img {
    width: 300px;
    height: 420px;
}*/
/*.columna{
    float: left;
    width: 33%;
    padding-right: 5px;

}
.fila::after {
    content: "";
    clear: both;
    display: table;

}


.peliculas {
    width: 1000px;
    border: none;
    border-radius: 4px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.current{
    color: #686363

}*/


