.row {
    margin-top: 12%;
    justify-content: center;
}

.nombre, p{ 
    color: #e2dada; 
}
a:link {
    color: #e2dada;
    text-decoration: none;
}

.pagination {
    justify-content: center;
    text-decoration: none;
}

.page-item {
    color: #ffffff;
    background: none;
}
.page-link {
    color: #ffffff;
    background: none;
    border: none;
}

