* {
    box-sizing: border-box;
}



/*.fila::after {
    content: "";
    clear: both;
    display: table;

}*/

.img {
 
    width: 10%;
    display:block;
    margin: auto;
    /*height: 700%;*/
}
