{% extends "base.html" %}

{% block title %}
    Movies

{% endblock %}
{% block content %}
    {% if movies %}
<div class="crud-movies">
    <table class="table table-responsive">
        <thead>
            <tr>                
                <th scope="col">Movie</th>
                <th scope="col">Trailer</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Director</th>
                <th scope="col">Actors</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>                
                <th scope="row">{{ movie.name }}</th>
                <td>{{ movie.urlTrailer }}</td>
                <td>{{ movie.desc }}</td>
                <td>{{ movie.year }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.cast }}</td>
                <td>{{ movie.url }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- <div class="pagination">
                    <span class="step-links">
                        {% if movies.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ movies.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
                        </span>

                        {% if movies.has_next %}
                            <a href="?page={{ movies.next_page_number }}">next</a>
                            <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
    </div> -->
    {% else %}
    <p>No users are available.</p>
    {% endif %}


</div>
<div class="container-fluid modal-crud">
    <div class="row">
        <div class="col-12 col-sm-2 col-lg-1">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
                Add
            </button>

            <!-- Modal -->
            <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-secondary" id="ModalLabel">Add movie</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" name="Movie" id="Movie" placeholder="Write movie">
                            <input type="text" class="form-control" name="Trailer" id="Trailer" placeholder="Write trailer">
                            <input type="text" class="form-control" name="Description" id="Description" placeholder="Write description">
                            <input type="text" class="form-control" name="Date" id="Date" placeholder="Write date">
                            <input type="text" class="form-control" name="Director" id="Director" placeholder="Write director">
                            <input type="text" class="form-control" name="Actors" id="Actors" placeholder="Write actors">
                            <input type="text" class="form-control" name="Image" id="Image" placeholder="Write image">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-2 col-lg-1">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal-delete">
                Delete
            </button>
            <div class="modal fade" id="Modal-delete" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-secondary" id="ModalLabel">Delete Movie</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Movie</th>         
                                        <th scope="col">Director</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for movie in movies %}
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <th scope="row">{{ movie.name }}</th>                             
                                        <td>{{ movie.director }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger">Delete Movies</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>

    {% endblock %}
