{% extends "base.html" %}

{% block title %}
    Users

{% endblock %}
{% block content %}
    {% if users %}
<div class="crud-users">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">email</th>
            <th scope="col">Admin</th>
          </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.username }}</th>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_staff }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
            <!-- <div class="pagination">
                            <span class="step-links">
                                {% if movies.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ movies.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
                                </span>

                                {% if movies.has_next %}
                                    <a href="?page={{ movies.next_page_number }}">next</a>
                                    <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
            </div> -->
    {% else %}
        <p>No users are available.</p>
    {% endif %}
</div>
        <div class="container-fluid modal-crud">
            <div class="row">
                <div class="col-12 col-sm-2 col-lg-1">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
                        Add user
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-secondary" id="ModalLabel">Add movie</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" name="Username" id="Username" placeholder="Write username">
                                    <input type="text" class="form-control" name="First" id="First" placeholder="Write first">
                                    <input type="text" class="form-control" name="Last" id="Last" placeholder="Write last">
                                    <input type="text" class="form-control" name="Email" id="Email" placeholder="Write email">
                                    <input type="text" class="form-control" name="Admin" id="Admin" placeholder="Write admin">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-lg-1">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal-delete">
                        Delete user
                    </button>
                </div>
            </div>
        </div>
            {% endblock %}
