<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Garven {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/peliculas.css' %}" rel="stylesheet">
</head>
<body>
    <div id="sidebar">
        <div class="">
            <div class="container bg-white">
                <div class="p-3 row bg-dark text-white ">
                    <nav class="col navbar navbar-dark ">
                        <div class="fas fa-utensils p-2"></div>
                        <a class="col navbar-brand" href="loginn">VideoClub</a>
                        <div class="nav text-white">
                            <a class="nav-link active" href="movies"><i class="fas fa-bars text-secondary">Películas</i></a>
                            <a class="nav-link active" href="./buscar.html"><i class="fas fa-bars text-secondary">Buscar Películas</i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!--<ul>
        <li><a href="/">Home</a></li>
        {#
        <li><a href="/movies/">Movies</a></li>#}
    </ul>-->
    </div>
{% block content %} {% endblock %}
</body>
</html>