{% extends "base.html" %}

{% block title %}
    login

{% endblock %}
{% block content %}
<body>
    <div class="">
        <div class="container bg-white">
            <!--<div class="p-3 row bg-dark text-white ">
                <nav class="col navbar navbar-dark ">
                    <div class="fas fa-utensils p-2"></div>
                    <a class="col navbar-brand" href="loginn">VideoClub</a>
                    <div class="nav text-white">
                        <a class="nav-link active" href="movies"><i class="fas fa-bars text-secondary">Películas</a>
                        <a class="nav-link active" href="./buscar.html"><i class="fas fa-bars text-secondary">Buscar Películas</i></a>
                    </div>
                </nav>
            </div>-->
            <form action="" class="login">
                <h3 class="text-center">Inicio de sesión</h3>
                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="Escribe Nombre">
                </div>
                <div class="form-group">
                    <label for="Contra">Contraseña</label>
                    <input type="password" class="form-control" name="Pass" id="Pass" placeholder="Escribe Contraseña">
                </div>
                <p class="text-center">
                    <button class="btn btn-primary btn-block">Login</button>
                    <a class="nav-link active" href="{% url 'registro' %}"><i class="fas fa-envelope text-secondary"> Registrarse</i></a>
                </p>
            </form>
        </div>
    </div>
</body>
{% endblock %}