<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Garven {% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body class="login" >

        <div class="log">
            <!--<div class="p-3 row bg-dark text-white ">
            <nav class="col navbar navbar-dark ">
                <div class="fas fa-utensils p-2"></div>
                <a class="col navbar-brand" href="">VideoClub GarVen</a>
            </nav>
        </div>-->

            <img src="/static/img/logo.png" class="avatar" alt="Avatar Image">

            <form method="POST" action="{% url 'login' %}" class="">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder=" Write your username">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="pass" id="pass" placeholder="Write your password">

                {% if error %}
                <p>
                    {{ error }}
                </p>
                {% endif %}
                <input type="submit" value="Login">
            </form>

        </div>

</body>
</html>
