<!DOCTYPE html>
<html>
    <head>
        <title>Registro</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="css/estilos.css">


    </head>
    <body>
        <div class="">
            <div class="container bg-white">
                <div class="p-3 row bg-dark text-white ">
                    <nav class="col navbar navbar-dark ">
                        <div class="fas fa-utensils p-2"></div>
                        <a class="col navbar-brand" href="{% url 'index' %}">VideoClub GarVen</a>
                    </nav>
                </div>

                <header>
                    <h1 class="text-center pt-5">
                        <a class="text-white p-2"></a>
                        <a href="" class="text-reset">Register</a>
                    </h1>
                </header>

                <div class="container p-5">

                    <form action="#" method="post" class="">

                        <div class="row mb-4">
                            <div class="form-group col-12 col-md-6">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>

                            <div class="form-group col-12 col-md-6">
                                <label for="lastname">Last name:</label>
                                <input type="text" class="form-control" id="lastname" name="lastname">
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="form-group col-12 col-md-6">
                                <label for="email">Email:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="email" name="email">
                                </div>
                            </div>

                            <div class="form-group col-12 col-md-6">
                                <label for="pass">Password:</label>
                                <input type="password" class="form-control" id="pass" name="pass">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <button class="btn btn-primary btn-block">Send</button>
                            </div>
                        </div>

                    </form>

                </div>


            </div>
        </div>
            
    </body>
</html>